<div ng-if="showMenu" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Mammas stugbokare 2k+</a>
		</div>

		<div>
			<ul class="nav navbar-nav">
				<li>
					<a ui-sref="overview">Översikt</a>
				</li>
				<li>
					<a ui-sref="cabins">Stugor</a>
				</li>
				<li>
					<a ui-sref="notbooked">Obokade Stugor</a>
				</li>
				<li>
					<a ui-sref="booked">Bokade Stugor</a>
				</li>
				<li>
					<a ui-sref="reports">Rapporter</a>
				</li>
			</ul>
		</div>

		<div>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown 
						<span class="caret">
						</span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>

				<li><a href="#" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>